
.rank_title {
    font-size: 2em;
    position: relative;
    bottom: 2rem;
    font-weight: bolder;
}

.buttons_ranking {
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-evenly

}

.buttons_ranking button a {
    font-weight: bolder;
}

.buttons_ranking a button {
    font-weight: bolder;
}
.containert h1 {
    font-size: 3em;
    display: flex;
    justify-content: center;
    height: 30%;
}

.containert p {
    font-size:1.2em;
    display: flex;
    justify-content: center;
}

.optiones_ranking {
    position: relative;
    top:3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.keys {
    border-bottom: 1px solid unset;
    margin:0 auto;
    width: 95%; 
    position:relative;
    font-size:1.5em;
    font-weight: bolder;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    padding: 1rem;
    
}

.keys h2 {
    font-weight: bolder;
}

.values {
    font-size:1.2rem;
    position: relative;
    width: 78%;
    margin:0 auto;
    top:3rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    
}



@media (min-width: 768px) { 
    .keys {
        width: 85%;
    }
}

@media (min-width: 1200px) {

    .keys {
        width: 80%;
    }
}