.menuContainer {
  font-family: 'Raleway', sans-serif;
  position:relative;
  top:5%;
  width: 80%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  height: 60vh;
  align-items: center;
  justify-content: space-around;
padding:0.5em;

}
.menuOptions {
    width: 100%;
    
    
}

.cardt {
    margin-top:0;
    opacity: 0.9;
    width: 80%;
    margin: 0 auto;
    height: auto;
    border: unset;
    background-color: #2B2B2B;
    opacity: 0.6;
}

.cardt .card-header {
    padding: 1rem;
    font-weight: bolder;
    background-color: unset;
    border-bottom: unset;
    color:var(--white)
}
.menuOptions ul {
    width: 100%;
    margin: 0px auto;
    color: unset;
    cursor: pointer;
}

.menuContainer a {
    color:unset;
    text-decoration: none;
    cursor:pointer;
}

.menuContainer a:hover {
    color:unset;
    text-decoration: none;
}

.menuContainer ul li {
    color: unset;
    margin: 1% auto;
    list-style: none;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bolder;
    width: 100%;
    box-shadow: rgba(123, 123, 128, 0.2) 0px 7px 29px 0px;
    border: 0.1px solid #515585;
    padding: 0.8rem 0;
    text-decoration: none;
    cursor:pointer;
    
}

.menuContainer ul li:hover {
    background-color:#51558550;
    
    color:rgb(250,250,250);
    
}


.menuContainer h1 {
    margin: 0 15%;
}


.buttonLink {
    width: 100%;
}

.jupitert {
    width: 45%;
    opacity: 0.4;
}


.user_title {
    text-align: center;
    position:relative;
    top:0
}




@media only screen and (max-width: 600px) {
    .menuContainer .jupitert {
        width: 55%;
    }
}

     @media only screen and (min-width: 768px){

        .menuContainer {
            height: 65vh;
        }

        .cardt {
            margin-bottom:0;
            padding:1rem;
            
        }
        .cardt .card-header {
            font-size:1.2rem;
            text-align: center;
        }
}

    @media only screen and (min-width: 992px) {
       .menuContainer{
           flex-direction: row;
           justify-content: space-between;
           height: 45vh;
           
       }
       .menuContainer ul li {
           width: 80%;
       }

       .jupitert {
           width: 35%;
           opacity: 0.3;
       }
       .cardt {
           width: 70%;
       }

    }

    .stars {
        color:var(--yellow)
    }

    @media only screen and (min-width: 1200px) {

        .menuOptions {
            width: 65%;
        }
        .menuContainer {
            height: 60vh;
        }

        .jupitert {
            width: 30%;
        }

    }



