.howtoplay_container {
    width: 85%;
    margin: 0 auto;
    padding:1em;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-duration: 1s;
    animation-name: fadein;
}


.howtoplay_container h1 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bolder;

}

.howtoplay_container p {
    margin: 0 auto;
    font-size: 1.4em;
    font-weight: bolder;
    
}

.custom-shape-divider-bottom-1624335649 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1624335649 svg {
    position: relative;
    display: block;
    width: calc(100% + 1000px);
    height: 120px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1624335649 .shape-fill {
    fill: #F4D160;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (min-width: 992px) {

    .howtoplay_container {
        width: 45%;
    }

}

@media only screen and (min-width: 992px)  {
    .howtoplay_container {
        width: 30%;
    }


}